@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Urbanist', sans-serif;
  }
  html,
  body {
    overflow-x: hidden;
  }
}

@layer components {
  .card-services-default {
    @apply relative overflow-hidden w-full h-full rounded-[30px];
    clip-path: path(
      "M 0 0 H 310 A 30 30 0 0 1 340 30 A 30 30 0 0 0 370 60 A 30 30 0 0 1 400 90 V 370 H 0 Z"
    );
  }

  .card-services-tiny {
    @apply relative overflow-hidden w-full h-full rounded-[22px];
    clip-path: path(
      "M 0 0 H 228 A 22 22 0 0 1 250 22 A 22 22 0 0 0 272 44 A 22 22 0 0 1 295 66 V 273 H 0 Z"
    );
  }

  .pause-on-hover {
    animation-play-state: paused;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .form-input {
    @apply w-full px-4 py-3 bg-gray-300 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-black text-black;
  }

  /* Fix Google Maps InfoWindow close button visibility */

}



